:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --violet: #8a2be2;
  --blue: #87cefa;
  --red: #ff0000;
  --grey: #2f4f34;
  --green: #5a8530;
  --white: #ffffff;
  --lightgreen: lightgreen;
  --surprise: #f7dfb1;
  --lightblue: #add8e6;
  --viola: #b33b3b;
}