@import '../public/colors.css';

#root {
  max-width: 1920px;
  margin: 0;
 
  text-align: center;
}

.container {
  max-width: 1920px;
  height: 100%;
  background-color: var(--surprise);
  margin: 0; 
}
.app {
  background: var(--surprise);
height: 300px;
padding-top: 4rem;
}
h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wrap {
   width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative; 
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}
.carousel-container {
  background-color: var(--surprise);
  display: flex;
  justify-content: center;
  align-items: center;
   height: 400px;
}
.arrows {
    display: grid;
  grid-auto-flow: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
  column-gap: 2rem;
}

.meaning-container {
  margin: 0;
  background-color: var(--surprise);
  display: grid;
  grid-auto-flow: column; 
  justify-content: center; 
  align-items: center; 
  height: 400px;
  column-gap: 4rem;
}


.card {
  color: var(--white);
 border: 1px solid var(--surprise); 
  background-color: var(--green);
  border-radius: 5px;
  padding: 5px;
  font-size: x-large;
  margin-top: 30px;
  width: 120px;
  height: 120px;
  box-shadow:  2px 4px var(--white);
   display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  overflow: hidden;
  cursor: pointer;
   border-radius: 50%;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
} 
.card:hover {
    cursor: pointer;
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
     

.translation-card {
 border: 1px solid var(--blue); 
  background-color: var(--white);
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
  width: 150px;
  height: 150px;
  box-shadow:  4px 8px var(--green);
  cursor: pointer;
}

.meaning {
  color: var(--white); 
  font-weight: bold; 
  margin-top: 10px;
}

.word {
  font-weight: bold;
}


.header {
  color: var(--white);
  background: var(--green);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0.5em;
}

.icon-container {
  margin-right: 0.5em; 
  margin-top: 1em;
}

.title {
  vertical-align: middle; 
}

.globe{
  width: 70px;
  height: 70px;
  padding-top: 5px;
position: relative;
 overflow: hidden;
  cursor: pointer;
   border-radius: 50%;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
    
} 
.globe:hover {
    cursor: pointer;
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}



.wild {
  width: 60px;
  height: 60px;
  border-radius: 50%;

}


.footer {
  width: 100%;
  color: var(--surprise);
  background-color: var(--green);
  text-align: center;
  height: 50px;
  margin: 0;
}


.button {
  width: 100px;
  height: 50px;
  color: var(--white);
  background-color: var(--green);
  box-shadow: 5px black;
  
}

.input {
  color: var(--grey);
  font-size: 20px;
  border: 1px solid var(--second-color);
  border-radius: 6px;
  width: 200px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  
}

.error {
  background: url(assets/lost.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  width: 100vw;
  height: 100vh; 
  color: var(--white);
    display: grid;
  grid-auto-flow: column; 
  justify-content: flex-start; 
  align-items: center; 
  padding: 4em;

}

.ul {
  list-style-type: none;
}

.header-container {
  background: var(--green);
  color: var(--white);
  height: 150px;
  align-items: center; 
  margin: 0; 
}

.nav {
  margin: 0; 
  color: var(--white);
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  background: var(--green);
  z-index: 1000;
  text-align: center; 
  justify-content: flex-end;
}



.nav ul {
  list-style-type: none; 
  display: flex; 
}

.nav ul li a {
  color: var(--white); 
  position: relative; 
}



.nav ul li a::after {
  content: ""; 
  position: absolute; 
  left: 0;
  bottom: -2px; 
  width: 100%;
  height: 2px; 
  background-color: transparent; 
  transition: background-color 0.5s; 
}

.nav ul li a:hover::after {
  background-color: var(--white); 
}

.nav li {
  margin-right: 20px;
  font-weight: 800;
}



.title {
  margin: 0; /* Remove default margin */
}

.icon-container {
  display: inline-block; 
  margin-right: 10px; 
}

.description {
  color: var(--white);
  height: 100%;
  padding: 5em; 
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: var(--green);
  display: flex; 
  align-items: center;
  text-align: center; 
  border: 15px solid var(--surprise);

}
