@import '../public/colors.css';

#root {
  max-width: 1920px;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.container {
  max-width: 1920px;
  height: 100%;
  background-color: var(--surprise);
margin: 0;
}

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wrap {
   width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative; 
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}
.arrows {
    display: grid;
  grid-auto-flow: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
  column-gap: 2rem;
}

.meaning-container {
  display: grid;
  grid-auto-flow: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
  column-gap: 4rem;
}


.card {
  color: var(--white);
 border: 1px solid var(--surprise); 
  background-color: var(--grey);
  border-radius: 5px;
  padding: 5px;
  font-size: x-large;
  margin-top: 30px;
  width: 120px;
  height: 120px;
  box-shadow:  2px 4px var(--white);
   display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  overflow: hidden;
  cursor: pointer;
   border-radius: 50%;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
} 
.card:hover {
    cursor: pointer;
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
     

.translation-card {
 border: 1px solid var(--blue); 
  background-color: var(--white);
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
  width: 150px;
  height: 150px;
  box-shadow:  4px 8px var(--grey);
  cursor: pointer;
}

.meaning {
  color: var(--white); 
  font-weight: bold; 
  margin-top: 10px;
}

.word {
  font-weight: bold;
}


.header {
  color: var(--white);
  background: var(--grey);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0.5em;
}

.icon-container {
  margin-right: 0.5em; 
  margin-top: 1em;
}

.title {
  vertical-align: middle; 
}

.globe{
  width: 70px;
  height: 70px;
  padding-top: 5px;
position: relative;
 
} 


.wild {
  width: 60px;
  height: 60px;
  border-radius: 50%;

}


.footer {
  width: 100%;
  color: var(--surprise);
  background-color: var(--grey);
  text-align: center;
}


.button {
  width: 100px;
  height: 50px;
  color: var(--white);
  background-color: var(--grey);
  box-shadow: 5px black;
  
}

.input {
  color: var(--grey);
  font-size: 20px;
  border: 1px solid var(--second-color);
  border-radius: 6px;
  width: 200px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}