.button {
  width: 100px;
  height: 40px;
  color: var(--white);
  background-color: var(--green);
  box-shadow: 5px black;
  
}
.button:hover {
  background-color: var(--viola
  );
}

.input {
  color: var(--grey);
  font-size: 20px;
  border: 1px solid var(--second-color);
  border-radius: 5%;
  width: 200px;
  height: 20px;
  padding: 10px;
  cursor: pointer;
  
}
